Dockerfile
.dockerignore
**/node_modules/
**/npm-debug.log
**/gcloud
**/.next
**/.*env

!tmp-fe-build/
!tmp-fe-build/dotnext/
!tmp-fe-build/dotnext/**
!tmp-fe-build/nodemodules/
!tmp-fe-build/nodemodules/**
!tmp-fe-build/public/
!tmp-fe-build/public/**
!tmp-fe-build/package.json
!tmp-fe-build/server.js
